.o-tab{
	height: 50px;
	background: #fff;
	line-height: 50px;
	text-align: center;
	color: #666
}
.o-tab .cur{
	color: #12b7f5;
	border-bottom: 1px solid #12b7f5;
}
.o-tab>div{
	position: relative;
}
.o-tab .new:before{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #f00;
	position: absolute;
	content: "";
	top: 12px;
	right: 17px;
}
.order-tab-box{
	background: #fff;
}
.order-tab dt{
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}
.order-tab dd{
	padding: 10px;
}
.ico-part{
	width: 40px;
	height: 40px;
	overflow: hidden;
    position: relative;
    margin-left: -8px;
}
.ico-bg{
	width: 110px;
	height: 110px;
	margin: 0 auto;
	border-radius: 50%;
	    position: absolute;
    top: -35px;
    left: -35px;
    transform:scale(0.25);
}
.ico-bg.type1{
	background: #ff7f7f;
}
.ico-bg.type2{
	background: #ffb27f;
}
.o-ico {
	width: 110px;
	height: 110px;
	background: url(../images/indexico2.png) no-repeat;
	display: block;
}
.o-ico.type1{
	background-position: -110px 0;
}
.o-ico.type2{
	background-position: 0 -110px;
}
.yu-lred{
	color: #ff7f7f;
}
.yu-lyellow{
	color: #ffb27f;
}
.order-tab{
	display: none;
}
.order-tab.cur{
	display: block;
}
header{
	background: #fff;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
header .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
}
header .back div{
	width: 20px;
	height: 20px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	transform:rotate(-45deg);
	margin: 0 auto;
	margin-top: 13px;
}