body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select
{
    margin: 0;
    padding: 0;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
ul
{
    list-style: none;
}
a:link, a:visited
{
    text-decoration: none;
}

.clear
{
    clear: both;
}
.top
{
    width: 100%;
    max-width: 640px;
    height: 40px; /*background: #6cba2b;*/
    background: #00a0e9;
    margin: 0 auto;
    color: #fff;
    font: 16px/40px microsoft yahei,simhei;
    text-align: center;
    margin-bottom: 20px;
}
.back
{
    width: 40px;
    height: 40px;
    background: url(../../images/member/back_01.jpg?vison=1.0) no-repeat;
    float: left;
}
.card
{
    width: 56px;
    height: 40px; /*background:url(../images/card.jpg) no-repeat;*/
    background: url(../../images/member/card.jpg?vison=1.0) no-repeat;
    float: right;
}
.message
{
    width: 56px;
    height: 40px;
    background: url(../images/message.jpg) no-repeat;
    float: right;
}
.banner
{
    height: 180px;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}
.banner img
{
    height: 180px;
    margin: 0 auto;
    display: block; /*box-shadow: 3px 3px 3px rgba(0,0,0,0.5);*/
}
.wrap
{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    border-top: 1px solid #d8d5d4;
}
.row-box
{
    border-bottom: 1px solid #ddd;
}
.row.sp1, .row.sp1 a
{
    color: #616467;
    font: 16px/42px microsoft yahei,simhei;
    position: relative;
    top: 0px;
    left: 0px;
    padding-left: 50px;
}
/*
.row:before{
	position: absolute;
    top: 14px;
    right: 20px;
    width: 10px;
    height: 10px;
    content: "";
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/
.row > span
{
    position: absolute;
    top: 7px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../images/member/icons.png);
}
.row > .type1
{
    background-position: 0 0;
}
.row > .type2
{
    background-position: -30px 0;
}
.row > .type3
{
    background-position: -60px 0;
    right: 987px;
}
.row > .type4
{
    background-position: -90px 0;
}
.row > .type5
{
    background-position: -120px 0;
}
.row > .type6
{
    background-position: -150px 0;
}
.row > .type7
{
    background-position: -180px 0;
}
.wrap.sp
{
    border-top: 0;
}
.info-form
{
    padding: 0 20px;
}
.dl-group
{
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 10px;
}
.info-form dl
{
    margin-bottom: 10px;
}
.info-form dt
{
    height: 40px;
    font: 16px/40px microsoft yahei,simhei;
    color: #666;
    text-indent: 1em;
}
.info-form input[type=text], .info-form input[type=password]
{
    width: 100%;
    border: 1px solid #ddd;
    background: #f2f2f2;
    border-radius: 3px;
    height: 40px;
    outline: 0;
    text-indent: 1em;
    font: 16px microsoft yahei,simhei;
}
.info-form input[type=submit], .info-form input[type=button]
{
    width: 100%;
    height: 40px;
    color: #fff;
    font: 16px microsoft yahei,simhei;
    border: 0;
    outline: 0;
    margin-bottom: 10px;
}
.info-form select
{
    border: 1px solid #ddd;
    background: #f2f2f2;
    border-radius: 3px;
    height: 40px;
    font: 16px microsoft yahei,simhei;
    text-indent: 1em;
    outline: 0;
    color: #bbb;
}
.info-form .type1
{
    width: 100%;
}
.info-form .type2
{
    width: 32%; /*float: left;*/
}
.info-form .type3
{
    background: #6cba2b;
}
.info-form .type4
{
    background: #f60;
}
.code
{
    width: 100%;
    border: 1px solid #ddd;
    background: #f2f2f2;
    border-radius: 3px;
    height: 40px;
    outline: 0;
    text-indent: 1em;
    font: 16px microsoft yahei,simhei;
    margin-bottom: 20px;
}
.info-form .code .sp
{
    width: 50%;
    border: 0;
    float: left;
}
.code .btn
{
    position: relative;
    top: 5px;
    right: 5px;
    width: 120px;
    height: 30px;
    background: #6cba2b;
    color: #fff;
    text-align: center;
    font: 16px/30px microsoft yahei,simhei;
    float: right;
    text-indent: 0;
}
.mes-tab
{
    width: 100%;
    height: 39px;
    border-bottom: 1px solid #d8d5d4;
    font: 16px/39px microsoft yahei,simhei;
    color: #777;
    text-align: center;
}
.mes-tab li
{
    float: left;
    width: 50%;
}
.mes-tab .cur
{
    border-bottom: 1px solid #6cba2b;
}
.top.sp
{
    margin-bottom: 0;
}
.wrap.sp
{
    border-top: 0;
}
.message-list > li
{
    height: 70px;
    border-bottom: 1px solid #ddd;
    padding-left: 100px;
    position: relative;
}
.message-list > li img
{
    position: absolute;
    top: 10px;
    left: 10px;
}
.wrap .mes-tabbox
{
    border-bottom: 0;
    height: auto;
    padding-left: 0;
}
.text
{
    padding-top: 5px;
}
.text p:nth-child(1)
{
    font: bold 16px/30px microsoft yahei,simhei;
    color: #444;
}
.text p:nth-child(2)
{
    font: 16px/30px microsoft yahei,simhei;
    color: #999;
}
.message-list > li:before
{
    width: 10px;
    height: 10px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    /*content: "";*/
    position: absolute;
    top: 25px;
    right: 10px;
    transform: rotate(45deg);
}













.card-sample
{
    width: 284px;
    height: 180px;
    margin: 0 auto;
    border-radius: 10px;
    background: #f60;
}
.cardN
{
    position: relative;
    top: 13px;
    left: 14px;
    color: #fff;
    font: 15px microsoft yahei,simhei;
    text-shadow: 1px 1px 1px #000;
}











.slide-box
{
    padding: 0 10px 10px;
    display: block;
}
.slide-box .inner
{
    width: 100%;
    border-top: 1px dotted #ddd;
    background: #f9f9f9;
    padding: 5px;
}
.cur .slide-box
{
    display: block;
}
.cur .row:before
{
    webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.righttb
{
    border-collapse: collapse;
    text-align: center;
    font: 14px microsoft yahei,simhei;
    color: #666;
}
.righttb th
{
    font-weight: normal;
}
.inner-til
{
    height: 30px;
    font: bold 14px/30px microsoft yahei,simhei;
    color: #17a7d0;
}



.shadow-bar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.5);
}
.zk
{
    float: left;
    color: #fff;
    font: 16px/50px microsoft yahei,simhei;
    text-indent: 1em;
}
.zk strong
{
    font-size: 30px;
}
.get-btn
{
    float: right;
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    color: #fff;
    font: 20px/50px microsoft yahei,simhei;
    background: #17a7d0;
}
