.order-btn{
	background: #f60;
}
.order-btn span{
	color: #f60;
}
.yu-blue {
    color: #4392ea;
}
.hotel-name{
	position: absolute;
	top: 10%;
	left: 10px;
	color: #fff;
	text-shadow:1px 1px 1px #000;
	z-index: 100;
	font-size: 14px;
}
.hotel-img-num{
	color: #fff;
	position: absolute;
	top: 8%;
	right:-10px;
	height: 30px;
	width: 60px;
	font-size: 14px;
	line-height: 30px;
	border-radius: 30px;
	background: rgba(0,0,0,0.5);
	z-index: 100;
	text-align: center;

}
.get-quan{
	height: 30px;
	padding:0 10px;
	color: #fff;
	display: block;
	background: #f60;
	line-height: 30px;
	border-radius: 5px;
}
.yu-tpad5{
	padding-top: 5px !important;
}
.yu-arr:before {
  /*top: 40%;*/
}
.rooms-list-box {
  margin-bottom: 0;
 border-style: solid;
    -moz-border-image: url(../../images/border-image.png) 2 2 stretch;
    -o-border-image: url(../../images/border-image.png) 2 2 stretch;
    -webkit-border-image: url(../../images/border-image.png) 2 2 stretch;
    border-image: url(../../images/border-image.png) 2 2 stretch;
    border-width: 1px 0 1px 0;
  overflow: hidden;
}
.border1 {
  border-style: solid;
    -moz-border-image: url(../../images/border-image.png) 2 2 stretch;
    -o-border-image: url(../../images/border-image.png) 2 2 stretch;
    -webkit-border-image: url(../../images/border-image.png) 2 2 stretch;
    border-image: url(../../images/border-image.png) 2 2 stretch;
    border-width: 0 0 0 1px;
  height: 32px;
  display: inline-block;
  position: relative;
  top: 9px;
  margin: 0 10px;
}
.room-content > li {
  background: #fafafa;
  border-style: solid;
    -moz-border-image: url(../../images/border-image.png) 2 2 stretch;
    -o-border-image: url(../../images/border-image.png) 2 2 stretch;
    -webkit-border-image: url(../../images/border-image.png) 2 2 stretch;
    border-image: url(../../images/border-image.png) 2 2 stretch;
    border-width: 1px 0 0 0;
}
.rooms-list.sp2{
	margin-bottom: 10px;
}
.rooms-list.sp2>li{
	padding: 0;
}
.yu-tbor1 {
  border-style: solid;
    -moz-border-image: url(../../images/border-image.png) 2 2 stretch;
    -o-border-image: url(../../images/border-image.png) 2 2 stretch;
    -webkit-border-image: url(../../images/border-image.png) 2 2 stretch;
    border-image: url(../../images/border-image.png) 2 2 stretch;
    border-width: 1px 0 0 0;
}
.yu-greys{
	color: #666;
}
.babel{
	display: inline-block;
	height: 20px;
	color: #fff;
	line-height: 20px;
	padding: 0 5px;
	border-radius: 3px;
	margin-right: 5px;
	font-size: 12px;
}
.babel.type1{
	background: #02b9c4;
}
.babel.type2{
	background: #f00;
}
.babel.type3{
	background: #f90;
}
.room-content-head.noarr:before{
	width: 0;
	height: 0;
}
.room-content-head.tgth:before{
	border-bottom: 0;
	border-top: 1px solid #999;
	top: 40%;
}
.room-content-head.tgth.cur:before{
	    transform: rotate(45deg);
}
.tgth .price-wrap{
	padding-top: 18px;
}
.yu-nobg{
	background: none;
}
.watch-more{
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
.tuan-ico{
	width: 20px;
	height: 22px;
	background: url(../../images/tuan.png) no-repeat;
	display: inline-block;
	background-size: 100%;

	position: relative;
	top: 3px;
}
.iconfont{
	font-size: 20px;
	/*margin-right: 5%;*/
}
.yu-arr:before {
  /*border-right: 2px solid #999;
  border-bottom: 2px solid #999;*/
}
.rooms-date-change li:before{
	border-color: #999;
}
.room-content-head:before{
	border-color:#999;
	right: 10px;
}

body{
	padding-bottom: 50px;
}
.room-content.sp{
	background: #efeff4;
	padding: .2rem;
}
.room-content.sp>li{
	border-radius: .08rem;
	padding: 0;
	border-width: 1px 1px 1px 1px;
	margin-bottom: .2rem;
}
.room-content.sp>li:last-child{
	margin-bottom: 0;
}
.room-mark{
	color: #12b7f5;
	border: 1px solid #12b7f5;
	border-radius: .03rem;
	font-size: .22rem !important;
	display: inline-block;
	padding: 0 0.05rem;
}
.book-btn3{
	border: 1px solid #f60;
	border-radius: .07rem;
	text-align: center;
	width: .84rem;
	display: block;
}
.book-btn3>p:nth-child(1){
	background: #f60;
	height: .49rem;
	line-height: .49rem;
	color: #fff;
	font-size: .26rem;
}
.book-btn3>p:nth-child(2){
	height: .4rem;
	line-height: .4rem;
}
.book-btn3.over{
	border: 1px solid #999;
	}
.book-btn3.over>p:nth-child(1){
	background: #999;
}
.book-btn3.over>p:nth-child(2){
	color: #999;
}
/****************************/

.yu-arr:before{
 right:10px;
}
/*.hotel-info > li{
	font-size: 14px;
}*/


/*loading*/
.load3 .loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #4392ea 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #4392ea 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #4392ea 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #4392ea 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #4392ea 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.load3 .loader:before {
  width: 50%;
  height: 50%;
  background: #4392ea;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.load3 .loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.get-card .part1{
	width: 	300px;
	height: 123px;
	background: url(../../images/hyk1.png) no-repeat;
	margin: 0 auto;
	background-size: 100%;
}
.get-card .part2{
	width: 300px;
	/*padding: 10px 0;*/
	background: url(../../images/hyk2.jpg) repeat-y 0 0;
	margin: 0 auto;
	background-size: 100%;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;

}
.get-card .part3{
	width: 324px;
	height: 116px;
	background: url(../../images/hyk3.png) no-repeat;
	margin: 0 auto;
	background-size: 100%;
	}
.get-card h3{
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin-bottom:5px;
}
.get-card h4{
	color: #ff0;
	text-align: center;
	font-size: 16px;
	font-weight: normal;	
	margin-bottom: 5px;
}
.get-card h5{
	color: #ffffa3;
	text-align: left;
	text-indent: 1em;
	background: #d84040;
	font-size: 14px;
	font-weight: normal;	
	line-height: 30px;
	width: 260px;
	margin: 0 auto;
}
.get-card table{
	font-size: 12px;
	color: #fff;
	width: 260px;
	margin: 0 auto;
	border-collapse: collapse;
}
.get-card table td{
	height: 24px;
	text-indent: 1em;
}
.get-card table tr:nth-child(2n){
	background: #e65252;
}
.get-card .get-btn{
	width: 222px;
	height: 49px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 48px;
	left:-3px;
}
.get-card .part1{
	position: relative;
}
.get-card .close{
	width: 38px;
	height: 38px;
	display: block;
	position: absolute;
	top: 47px;
	right:0;
}
.yu-linet{
	text-decoration: line-through;
}

.get-btn2{
	width: 100%;
	height:50px;
	background:#f60;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.select-box{
	margin-bottom: 10px;
}


.big-pic{
	
}

.big-pic .inner{
	position: relative;
	top: 20px;
	width: 320px !important;
	margin: 0 auto;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 0;
}
.big-pic .yu-h50{
	height: 50px !important;
	line-height: 50px !important;
	
}
.big-pic h3{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: normal;
}
.big-img-box{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.big-img-box img{
	width: 100%;
	height: 100%;
}
.book-btn{
	height: 51px;
	width: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-radius: 0;
}
.big-img-detail{
	background: #f3f3f3;
	color:#999;
	font-size: 14px;
	padding:20px;
	border-bottom: 1px solid #ccc;

}
.big-img-detail td{
	width: 120px;
}
.big-pic .close{
	width: 30px;
	height: 30px;
	background: url(../../images/xxxx_103.jpg) no-repeat;
	position: absolute;
	top: 5px;
	right: 5px;
}

.yu-grid
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


body{
		max-width: 100%;
	}
	.room-num{
		display: none;
	}
	.ui-datepicker-current-day .room-price-d{
		color: #fff;
	}
	/*日历控件*/
.p-and-d #datepicker{
	position: static;
	overflow: hidden;
}
.p-and-d .ui-widget.ui-widget-content{
	padding-bottom: 0;
}
.data-btn{
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 40px;
}
.data-btn.cal{
	background: #f3f3f3;
	color: #666;
	margin-right: .2rem;
}
.data-btn.sub{
	background: #f40;
	color: #fff;
}
.data-btn.cal:before{
	border-radius: 80px;
	border: 1px solid #ccc;
}
.ui-datepicker-multi .ui-datepicker-group table{
	width:100%;
	margin-right: 0;
	margin-left: 0;
	
}
.ui-widget-header{
	background: #ededed;
	
}
.ui-datepicker .ui-datepicker-title{
	line-height: 50px;
	font-weight: normal;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	top: 13px;
}
.ui-datepicker .ui-datepicker-header{
	padding: 0;
}
.ui-datepicker td{
	padding: 0;
	border: 1px solid #f0f0f0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border: 0;
}
.ui-datepicker-calendar{
}
.ui-datepicker td span, .ui-datepicker td a{
	height: 50px;
	line-height: 35px;
	padding: 0;
}
.room-price-d{
	top:25px;
	color: #999;
}
.room-price-d.full{
	color: #f60;
}
/*.room-num{
	top: 32px;
	color:#fff;
	display: none;
	font-family: "microsoft yahei",simhei;
}*/
#datepicker .specialdays a{
		background: #12b7f5  !important;
		color: #fff !important;
		line-height: 17px;
	}
.specialdays .room-price-d{
	color: #fff;
	top: 15px;
}
/*.specialdays .room-num{
	display: block;
	color: #fff;
}
.specialdays .room-num.sp{
	display: none;
}*/

.specialdays.first:after{
	content: "入住"; color: #fff;
	position: absolute;
    top: .7rem;
	font-size: .24rem;
    left: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.specialdays.last:after{
	content: "离店"; color: #fff;
	position: absolute;
   	top: .7rem;
	font-size: .24rem;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.data-page{
	width: 100%;
	height: 100%;
	/*overflow-y:scroll;*/
	position: absolute;
	display: none;
}
#datepicker{
	width: 100%;
    /*height: 100%;*/
    /*overflow: scroll;*/
    /*position: absolute;*/
    /*padding-bottom: 60px;*/
}
.ui-widget.ui-widget-content{
	padding-bottom: 60px;
}
.ui-datepicker th{
	background: #f40;
	color: #fff;
	font-weight: normal;
	height: 50px;
	padding: 0;
	border: 1px solid #dc3d03;
	
}
th.ui-datepicker-week-end{
	background: #ff6f3a;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	color: #999;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background: #12b7f5 !important;
	color: #fff;
}
td.ui-datepicker-week-end>a {
	background: #fafafa !important;
}
.ui-datepicker-other-month{
	height: 50px;
}
.data-page .fix-bottom{
	position: absolute;
}
.ui-range-selected a,.ui-range-selected .ui-state-default{
		background: #ebfaff !important;
		color: #000!important;
	}
	.ui-range-selected .room-price-d{
		color: #12b7f5 !important;
	}
	
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: #fff;
}
/*日历控件end*/
.sc-bg{
	width: .6rem;
	height: .6rem;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	color: #e94619;
	font-size: .35rem;
	text-align: center;
	line-height: .6rem;
	position: absolute;
	top: .2rem;
	left: .4rem;
	z-index: 50;
}
.sc-bg.cur{
	width: 1.2rem;
	height: 1rem;
	border-radius: .08rem;
}
.sc-bg.icon-yishoucang.cur:after{
	content: "收藏成功";
	color: #fff;
	font-size: .24rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1.2rem;
	text-align: center;
}
.sc-bg.icon-shoucang.cur:after{
	content: "取消收藏";
	color: #fff;
	font-size: .24rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1.2rem;
	text-align: center;
}