.od-top{
	color: #fff;
}
h1{
	font-weight: normal;
	margin-bottom: 10px;
}
.order-btn{
	width:100px;
	height: 40px;
	text-align: center;
	display: block;
	border-radius: 5px;
	line-height: 40px;
	box-sizing:border-box;
}
.order-btn.type1{
	background: #f60;
	color: #fff;
	float: left;
}
.order-btn.type2{
	border:1px solid #ccc;
	color: #999;
	float: right;
}
.question{
	overflow: hidden;
}
.question li{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.question li a{
	border-radius: 30px;
	height: 30px;
	padding: 0 15px;
	line-height: 30px;
	border:1px solid #ccc;
	color: #12b7f5;
	display: block;
}
.ico2 {
	display: inline-block;
	width: 34px;
	height: 34px;
	background: url(../../images/icons.png) no-repeat;
	vertical-align: middle;
	transform:scale(0.7);
	margin-top: -3px;
}
.ico2.type1{
	background-position: 0 -40px;
} 
.ico2.type2{
	background-position: -34px -40px
} 
.ico2.type3{
	background-position: -68px -40px;
} 
.mask .inner{
	    position: relative;
    top: 100px;
    width: 300px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 10px 20px 10px;
}
.copy-btn{
	    border-radius: 30px;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    border: 1px solid #ccc;
    color: #12b7f5;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 5px;
}
.copy-info{
	position: relative;
}